
table {
    border-collapse: collapse;
    margin-bottom: 10px;
    padding: 5px;
}

body {
    background-color: gainsboro;
}

img {
    border-radius: 50%;
}

h1 {
    margin-top: 0px;
}

th {
    text-align: left;
}